$font-light: #fff;
$font-bluish: #B1C3E5;
$font-dark: #121212;
$font-gradient-top: #1A1A20;
$font-gradient-bottom: #040506;
$dark: #1A1818;
$success: #04F803;
$success-light: #C8F0A8;
$grey: #D3D4D6;
$primary: #9CA4BF;
